# Variables de entorno para el backend
MONGO_URI=mongodb://usuario:password@host:puerto/dbname
SESSION_SECRET=una_clave_secreta_larga
GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_google_client_secret
CLIENT_URL=https://localhost:5173
SERVER_URL=http://localhost:5000

# Opcional: configuración actual de tu infra
R2_PUBLIC_URL=https://imagenes.otisfismet.org
